schemas/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Platform Integration Scheme, version 0.1, create date 27.04.2021 -->
<xs:schema targetNamespace="tbf_message" xmlns="tbf_message" xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:complexType name="messagetype">
        <xs:sequence>
            <xs:element name="source" type="xs:stringtype"/>
            <xs:element name="userid" type="xs:stringtype"/>
            <xs:element name="text" type="xs:stringtype"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="message" type="messagetype"/>
</xs:schema>